
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Information Form</title>
    <link rel="stylesheet" href="company/css/addproduct.css"> <!-- Link to your CSS file -->
</head>
<body>

<nav class="navbar">
    <div class="container">
        <span class="navbar-brand">Ingredient Quality Test</span>
    </div>
</nav>


<div class="container">
    <form id="productForm" class="form" method="POST"  action="/products">
        <h2>Product Information Form</h2>
        <div class="form-group">
            <label for="productName">Product Name:</label>
            <input type="text" id="productName" name="name" required>
        </div>
        <!-- <div class="form-group">
            <label for="productImage">Product Image:</label>
            <input type="file" id="productImage" accept="image/*" required>
        </div> -->
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" rows="4" name="description" ></textarea>
        </div>
        <div class="form-group">
            <label for="producerName">Producer Name:</label>
            <input type="text" id="producerName" name="producerName" >
        </div>
        <div class="form-group">
            <label for="productionDate">Production Date:</label>
            <input type="date" id="productionDate" name="productionDate" >
        </div>
        <div class="form-group">
            <label for="batchId">Batch ID:</label>
            <input type="text" id="batchId"  name="batchId">
        </div>
        <div class="form-group">
            <label for="transportationDetails">Texture Evalution:</label>
            <input type="number" id="transportationDetails" rows="4" name="textureevaluation"></input>
        </div>
        <div class="form-group">
            <label for="ingredientsList">Ingredients List:</label>
            <textarea id="ingredientsList" rows="4" name="ingredientsList"></textarea>
        </div>
        <div class="form-group">
            <label for="qualityMetrics">Flavor Assessment:</label>
            <input type="number" id="qualityMetrics" rows="4"  name="flavorAssessment"></input>
        </div>
        <div class="form-group">
            <label for="location">Oil Content:</label>
            <input type="number" id="location"  name="oilcontent">
        </div>
        <div class="form-group">
            <label for="harvestDate">Thickness:</label>
            <input type="number" id="harvestDate" name="thickness">
        </div>
        
        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>

